@import "tailwindcss";

:root {
  --foreground : #EDA8B3;
 --background: #FCFCFC;
 --text: #000000;
}

@theme inline {

  
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {
  background: var(--background);
  color: var(--text);

}
